{{> profile-nav editGuardar="Guardar Cambios" editarGuardarRuta="/dashboard"}}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/estilos/forms/forms.css">
  <link rel="stylesheet" href="/estilos/forms/forms-media-queries.css">
  <link rel="shortcut icon" href="/favicon/planet-icon.png" type="image/x-icon">
  <title>{{title}}</title>
</head>
<!--cambiar foto de silver-->
<main id="main-form">
  <h2>{{title}}</h2>
  
  <form method="POST">
  
    {{#if isLinks}}
  
      <label>Instagram</label>
      <input type="url" name="instagram" placeholder="{{placeholder}}"> 
  
      <label>Pinterest</label>
      <input type="url" name="pinterest" placeholder="{{placeholder}}">
  
      <label>Spotify</label>
      <input type="url" name="spotify" placeholder="{{placeholder}}">
  
  
    {{else}}
  
      {{#if (eq inputType "textarea")}}
        <textarea name="{{name}}"></textarea>
      {{else}}
        <input type="{{inputType}}" name="{{name}}" placeholder="{{placeholder}}">
      {{/if}}
  
    {{/if}}
  
    <button type="submit">Guardar</button>
  </form>
</main>