<head>
  <link rel="stylesheet" href="/estilos/forms/forms.css">
</head>

<main>
  <h2>{{title}}</h2>
  
  <form method="POST">
  
    {{#if isLinks}}
  
      <label>Instagram</label>
      <input type="url" name="instagram">
  
      <label>Pinterest</label>
      <input type="url" name="pinterest">
  
      <label>Spotify</label>
      <input type="url" name="spotify">
  
  
  
    {{else}}
  
      {{#if (eq inputType "textarea")}}
        <textarea name="{{name}}"></textarea>
      {{else}}
        <input type="{{inputType}}" name="{{name}}">
      {{/if}}
  
    {{/if}}
  
    <br>
    <button type="submit">Guardar</button>
  </form>
</main>